.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inline-flex-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.object-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex {
    display: flex;
    align-items: center;
}