$main-font: "Poppins", sans-serif;
$heading-font: "Playfair Display", serif;

$color-1c:#1c1c1c;
$color-ff: #ffffff;
$color-00: #000000;
$color-22: #222222;
$color-1f: #f7831f;
$color-dd: #dddddd;